* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily: "Roboto", system-ui;
  --mainColor: #007da5;
  --secondColor: #fff;
}

body {
  font-family: var(--fontFamily);
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

h1 {
  background-color: var(--mainColor);
  color: var(--secondColor);
  text-align: center;
}

h1 {
  padding: 1rem;
}

main {
  padding: 2rem 1rem;
}

section {
  position: relative;
}

section:hover {
  box-shadow: 0 0 10px #444444;
}

h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #007ca577;
  color: var(--secondColor);
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 1rem;
  background-color: var(--mainColor);
  color: var(--secondColor);
  font-size: 1.2rem;
  text-align: center;
}