:root {
  --fontFamily: "Roboto", system-ui;
  --bgDarkColor: #444;
  --bgSecondColor: #ddd;
  --fontLightColor: #fff;
  --accentColor: #0056b3;
}

body {
  font-family: var(--fontFamily);
}

.event-banner {
  padding: 1rem;
  background-color: var(--bgSecondColor);
}

.event-banner p {
  text-align: center;
  margin-bottom: 1rem;
}

.event-banner button {
  display: block;
  border: none;
  margin-inline: auto;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.event-banner button:hover {
  background-color: #444;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  background: var(--bgDarkColor);
  color: var(--fontLightColor);
  overflow: hidden;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header div img {
  max-width: 30px;
  height: auto;
  margin: 1rem;
}

header div h1 {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

#menu-button::before {
  content: "☰";
  width: 25px;
}

#menu-button.open::before {
  content: "⛌";
  width: 25px;
}

#menu-button {
  width: fit-content;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

#navbar {
  max-height: 0;
  transition: max-height 1s ease;
}

#navbar.open {
  max-height: 200px;
}

#navbar ul li a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  background: var(--bgDarkColor);
}

#navbar ul li a:hover {
  background-color: #ddd;
  color: var(--accentColor);
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

#hero {
  display: grid;
  margin-bottom: 1rem;
}

#hero img {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  max-height: 500px;
  object-fit: cover;
}

#hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  margin: 1rem;
  backdrop-filter: blur(5px);
}

#hero div h2 {
  font-size: clamp(1.5rem, 10vw, 5rem);
  text-align: center;
}

#hero div a {
  border-radius: 20px;
  padding: 0.6rem 1rem;
  background-color: var(--accentColor);
  color: var(--fontLightColor);
}

#hero a:hover {
  background-color: #004590;
}

.section {
  padding: 1rem;
}

.section:nth-child(2),
.section:nth-child(3) {
  background-color: var(--bgSecondColor);
}

.section:nth-child(n+2) h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 0.2rem;
}

#events {
  margin-inline: 1rem;
  margin-bottom: 1rem;
}

#weather {
  margin-inline: 1rem;
}

#spotlights {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bgSecondColor);
}

#spotlights h2 {
  padding-bottom: 0.5rem;
}

.spotlight:first-child,
.spotlight:nth-child(2) {
  margin-bottom: 1rem;
}

.spotlight-link {
  display: block;
  margin-top: 0.3rem;
  color: var(--bgDarkColor);
}

.spotlight-link:hover {
  color: black;
}

.forecast {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.forecast-title {
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
}

footer {
  padding: 1rem;
  background-color: var(--bgDarkColor);
  color: var(--fontLightColor);
}

#info {
  padding-bottom: 1rem;
  border-bottom: 1px solid #afafaf;
  margin-bottom: 1rem;
}

#info div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

#info div:first-child img {
  width: 50px;
  height: auto;
}

#info div:first-child p {
  text-align: left;
}

footer address {
  font-size: 0.8rem;
  text-align: left;
}

#info div:last-child {
  font-size: 0.9rem;
  text-align: center;
}

#info div:last-child a {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

#discover {
  display: grid;
  padding: 1rem;
}

.sidebar {
  margin-bottom: 1rem;
}

.sidebar ul {
  margin: 0.5rem;
}

.sidebar ul li {
  margin-bottom: 0.2rem;
}

.sidebar h2,
.sidebar h3 {
  margin-bottom: 0.5rem;
}

.image-grid figure {
  position: relative;
  margin-bottom: 0.5rem;
}

.image-grid figure:last-child {
  margin-bottom: unset;
}

.image-grid figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  backdrop-filter: blur(5px);
  background-color: #000000aa;
  color: #fff;
  font-size: clamp(.75rem, 5vw, 1.2rem);
}

.footdown {
  display: block;
  margin-bottom: 0.15rem;
  color: yellow;
  text-align: center;
}

.sep {
  display: none;
}

#lastModified {
  font-size: 0.75rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.joinForm {
  padding: 1rem;
}

.joinForm fieldset {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
}

.joinForm legend {
  padding-inline: .5rem;
  color: var(--bgDarkColor);
  font-weight: 500;
}

.joinForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: .9rem;
  color: var(--accentColor);
}

.joinForm div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .9rem;
  color: var(--bgDarkColor);
}

.joinForm input[type="text"],
.joinForm input[type="email"],
.joinForm input[type="tel"],
textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  border: 1px solid #999;
  border-radius: 6px;
  padding: .75rem;
  color: var(--bgDarkColor);
}

.joinForm input[type="text"]:required:focus,
.joinForm input[type="email"]:required:focus,
.joinForm input[type="tel"]:required:focus {
  border-right: 4px solid red;
  outline: 0.5px solid #aaa;
}

.joinForm input[type="text"]:required:focus:valid,
.joinForm input[type="email"]:required:focus:valid,
.joinForm input[type="tel"]:required:focus:valid {
  border-right: 4px solid rgb(0, 177, 0);
}

.joinForm textarea {
  resize: none;
}

.joinForm input[type="radio"] {
  margin-right: 6px;
}

.joinForm div:last-child {
  padding: 1rem;
}

.joinForm input[type="submit"] {
  display: block;
  border: none;
  border-radius: 6px;
  padding: .8rem;
  width: 100%;
  max-width: 400px;
  background-image: linear-gradient(#aaa, var(--bgDarkColor));
  color: #fff;
  box-shadow: 1px 1px 4px #999;
  cursor: pointer;
}

.joinForm input:required {
  border-right: 4px solid red;
}

.joinForm input:required:valid {
  border-right: 4px solid rgb(0, 177, 0);
}

.directoryContainer {
  padding: 1rem;
}

.directoryContainer h2 {
  margin-bottom: 1rem;
}

.buttonsView {
  margin-bottom: 1rem;
  text-align: center;
}

.buttonsView button {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: .4rem .8rem;
  cursor: pointer;
}

.buttonsView button:hover {
  background-color: #444;
  color: #fff;
}

.directoryGridView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.directoryListView {
  display: grid;
  grid-template-columns: 1fr;
  font-size: .75rem;
}

.directoryListView .memberCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
  padding: 1rem;
  align-items: center;
}

.directoryListView .memberCard:nth-child(odd) {
  background-color: #ddd;
}

.directoryListView .memberCard:nth-child(even) {
  background-color: #999;
}

.directoryListView .memberCard img {
  display: none;
}

.directoryListView .memberCard h2 {
  margin-bottom: unset;
  font-size: .75rem;
  text-wrap: wrap;
}

.directoryListView .memberCard a {
  color: #000;
}

.directoryListView .memberCard a:hover {
  color: #444;
}

.directoryGridView .memberCard {
  position: relative;
  min-height: 300px;
  border: 1px solid #aaa;
}

.directoryGridView .memberCard h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: #ffffff48;
  backdrop-filter: blur(5px);
  color: #000;
  text-align: center;
}

.directoryGridView .memberCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.directoryGridView .memberCard p {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #00000048;
  backdrop-filter: blur(5px);
  color: #fff;
  text-align: center;
}

.directoryGridView .memberCard .phone {
  font-size: 0.8rem;
}

.directoryGridView .memberCard a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #444;
  color: #fff;
}

.directoryGridView .memberCard a:hover {
  border-color: #ffffff70;
}