@media screen and (min-width: 680px) {

  header {
    display: flex;
    justify-content: center;
  }

  #btnBurguerMenu {
    display: none;
  }

  nav {
    grid-template-rows: 1fr;
  }

  ul.menuLinks,
  ul.menuLinks.open {
    display: flex;
  }

  ul.menuLinks li {
    flex: 1 1 100%;
  }

  main {
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
    margin-inline: auto;
  }

  main section {
    grid-column: auto;
    box-shadow: 0 0 15px var(--shadowColor);
  }

  .card {
    margin-inline: unset;
  }
}